<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro</title>
    <link rel="stylesheet" href="../static/forum.css">
</head>

<body>
    <h1>Foro</h1>

    <a href="{{ url_for('home') }}" class="btn">Volver a la Página Principal</a>

    <div class="form-container">
        <form method="POST">
            <textarea name="content" placeholder="Escribe tu mensaje aquí..." required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <h2>Mensajes:</h2>
    <ul>
        {% for post in posts %}
        <li>
            <strong>{{ post.user.nickname if post.user.nickname else post.user.username }}:</strong>
            <p>{{ post.content }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>